*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}

h1 {
    text-align: center;
}

.btn-arrow{
    all: unset;
    font-size: 2em;
    cursor: pointer;
}


input[type="number"]{
    width: 3em;
    appearance: textfield;
    margin: 0;
    text-align: center;
}

label{
    text-decoration: dashed;
}

#robot{
    height: 40vh;
    text-align: center;
}

#main-layout{
    display: flex;
    justify-content: space-evenly;
}

#motor-values-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    display: block;
    text-align: center;
    text-decoration: underline;
}
.motor-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#motor-current-values{
    all: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#motor-current-values > input{
    margin: auto;
    text-align: center;
    display: inline;
    width: 20%;
}

.hidden {
    visibility: hidden;
}
#main-layout > div {
    width: 25vw;
}