<!-- This is a template file which will be used by other html files. -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{url_for('static', filename="css/style.css")}} rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
    <!-- Load the jquery library before loading any other scripts that requires it. -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- url_for() is a function used to avoid absolute paths -->
    <script src={{url_for('static', filename="js/script.js")}}></script>
</body>
</html>